body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#root {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  width: 100%;
  max-width: 480px;
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0;
}

h1,
h2 {
  font-weight: 500;
}

div.loader select,
div.loader button {
  font-size: 115%;
}

div.loader button {
  background: cornflowerblue;
  color: white;
  border: 0;
  padding: 5px 15px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}
div.loader button:hover {
  background: blue;
  transition: 0.3s background;
}

div.error {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 120%;
  background-color: firebrick;
}

div.block {
  max-width: 480px;
  width: 100%;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: cornflowerblue;
}
a:hover {
  color: blue;
  transition: 0.3s color;
}